.chakra-ui-light {
  --primary: #006c47;
  --onPrimary: #ffffff;
  --primaryContainer: #8ef7c1;
  --onPrimaryContainer: #002113;
  --secondary: #775a00;
  --onSecondary: #ffffff;
  --secondaryContainer: #ffdf99;
  --onSecondaryContainer: #251a00;
  --tertiary: #a43a40;
  --onTertiary: #ffffff;
  --tertiaryContainer: #ffdad9;
  --onTertiaryContainer: #400009;
  --error: #ba1a1a;
  --errorContainer: #ffdad6;
  --onError: #ffffff;
  --onErrorContainer: #410002;
  --background: #fbfdf8;
  --onBackground: #191c1a;
  --surface: #fbfdf8;
  --onSurface: #191c1a;
  --surfaceVariant: #dce5dc;
  --onSurfaceVariant: #404943;
  --outline: #707972;
  --inverseOnSurface: #eff1ed;
  --inverseSurface: #2e312e;
  --inversePrimary: #71daa6;
  --shadow: #000000;
  --surfaceTint: #006c47;
  --outlineVariant: #c0c9c1;
  --scrim: #000000;
  --semiPrimaryContainer: rgba(142, 247, 193, 0.8);
}

.chakra-ui-dark {
  --primary: #71daa6;
  --onPrimary: #003823;
  --primaryContainer: #005235;
  --onPrimaryContainer: #8ef7c1;
  --secondary: #f0c048;
  --onSecondary: #3f2e00;
  --secondaryContainer: #5a4300;
  --onSecondaryContainer: #ffdf99;
  --tertiary: #ffb3b3;
  --onTertiary: #650817;
  --tertiaryContainer: #84222b;
  --onTertiaryContainer: #ffdad9;
  --error: #ffb4ab;
  --errorContainer: #93000a;
  --onError: #690005;
  --onErrorContainer: #ffdad6;
  --background: #191c1a;
  --onBackground: #e1e3df;
  --surface: #191c1a;
  --onSurface: #e1e3df;
  --surfaceVariant: #404943;
  --onSurfaceVariant: #c0c9c1;
  --outline: #8a938c;
  --inverseOnSurface: #191c1a;
  --inverseSurface: #e1e3df;
  --inversePrimary: #006c47;
  --shadow: #000000;
  --surfaceTint: #71daa6;
  --outlineVariant: #404943;
  --scrim: #000000;
  --semiPrimaryContainer: rgba(0, 82, 53, 0.8);
}
